body {
    font-family: roboto, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0;
    margin: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0;
    padding: 10px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #1E2836;
    color: #F7F8F9;
    flex: 0;
}

#header h6 {
    margin: 0;
    margin-right: auto;
    color: f9faf8;
    font-size: 24px;
}

#header a {
    margin: 5px;
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

#header a:hover {
    margin: 5px;
    color: #3B82F6;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    background-color: #1E2836;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 15px;
    padding: 50px 150px 50px 150px;

}

#herotext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#herotext a {
    background-color:#3A80F4;
    text-decoration: none;
    font-weight: 600;
    color: #F7F8F9;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#herotext a:hover {
   transform: scale(1.05,1.05); 
   box-shadow: 2px 2px 4px #1f2937;
}

#herotext a:hover:after {
    opacity: 1;
}

#herotext h6 {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;

}

#herotext h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 4px #000000;
}

#heroimage img {
    border-radius: 5px;
    box-shadow: 2px 2px 4px #000000;
}

#content {
    display: flex;
    flex-direction: column;
    background-color: #1E2836;
    color: #F7F8F9;
    flex: 1;
}

.info {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    gap: 30px;
    padding-top: 30px;
}

.info div {
    width: 150px;
    color: #1f2937;
    /* flex: 1; */
    flex-wrap: wrap;
}

.info div img {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: 3px solid #3882f6;
    object-fit: cover;
}

.bigquote {
    background-color: #E5E7EB;
    display: flex;
    flex: 1;
    padding: 50px 150px 50px 150px;
    justify-content: center;
}

.bigquote h6 {
    color: #1f2937;
    font-size: 36px;    
    font-weight: 50;
    width: 700px;

}

.bigquote p {
    color: #1f2937;
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

.action {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.action .box {
    background-color: #3882f6;
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
    box-shadow: 2px 2px 4px #1f2937;
}

.action div a {
    background-color:#3A80F4;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid #FFFFFF;
    color: #F7F8F9;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.action div a:hover {
    transform: scale(1.05,1.05);
    box-shadow: 2px 2px 4px #1f2937;
}

.action div a:hover:after {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.action .box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

.action .box div h6 {
    padding: 0;
    margin: 0;
}

.action .box div h1 {
    padding: 0;
    margin: 0;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 0;
    margin-top: auto;
    padding: 10px;
    background-color: #1E2836;
    color: #F7F8F9;
    flex: 1;
}
